.texto{
    color:#0F766E !important;
    font-weight: 600;
}

.btnFondo{
    background-color: #0e998d !important;
    color: white !important;
}

.divFondo{
    background-color: #0F766E !important;
    color: white !important;
}